* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}

/* Header Section Starts Here */
.header_section {
  padding: 1vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.logo img {
  width: 10vw;
}

.logo h1 {
  margin-top: 0.4vh;
  font-size: 7vw;
}

.nav_list {
  display: none;
}

.icon_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.icon_section img {
  width: 6vw;
}

.icon_section i {
  font-size: 6vw;
}
/* Header Section Ends Here */

/* Hero Section Starts Here */
.hero_section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero_img img {
  width: 100%;
}

.hero_content {
  background-color: #fff3e3;
  position: absolute;
  top: 95%;
  left: 0%;
  padding: 5vw;
}

.hero_content p:nth-child(1) {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5vw;
}

.hero_heading {
  text-align: left;
  font-size: 11vw;
  padding: 0.4vh 0 1vh;
  font-weight: 900;
  color: #b88e2f;
}

.hero_content p:nth-child(3) {
  font-size: 18px;
  font-weight: 550;
  padding-bottom: 1vh;
}

.home_page_btn {
  background-color: #b88e2f;
  color: white;
  border: none;
  outline: none;
  padding: 1.3vh 7vw;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
/* Hero Section Ends Here */

/* Main Section Starts Here */
.main_section {
  margin-top: 35vh;
}

.main_content_section {
  text-align: center;
  padding: 0 5vw;
}
.main_content_section h1 {
  font-weight: 800;
}

.main_content_section p {
  font-size: 18px;
  font-weight: 600;
  color: #666666;
}

.main_img_section {
  padding: 5vw;
}

.main_img_section img {
  width: 100%;
}

.main_img_section p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 1vh 0;
}
/* Main Section Ends Here */

/* Product Section Starts Here */
.product_section {
  padding: 2vh 5vw;
}

.product_section h1 {
  text-align: center;
  padding-bottom: 2vh;
  font-size: 10vw;
}

.two_all_product_section {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.all_product_section {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.all_product {
  width: 100%;
  background-color: #f4f5f7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  position: relative;
}

.product_img img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product_details {
  padding: 1vh 3vw;
}

.product_details h2 {
  font-size: 7vw;
}

.product_details p {
  color: #666666;
  font-size: 22px;
  padding: 1vh 0;
}

.product_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old_price h3 {
  color: #666666;
}

.product_discunt {
  position: absolute;
  top: 1vh;
  right: 2vw;
  z-index: 999;
  background-color: #e97171;
  color: #ffffff;
  font-weight: 700;
  padding: 2vh 2vw;
  border-radius: 50%;
}

.new_product {
  position: absolute;
  top: 1vh;
  right: 2vw;
  z-index: 999;
  background-color: #2ec1ac;
  color: #ffffff;
  font-weight: 700;
  padding: 2vh 2.8vw;
  border-radius: 50%;
}

.all_product_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0.7;
  transition: all linear 0.3s;
  display: none;
}

.all_product:hover .all_product_overlay {
  display: block;
}

.all_product_overlay button {
  font-size: 20px;
  font-weight: 700;
  color: #b88e2f;
  background-color: white;
  padding: 1vh 8vw;
  z-index: 99999;
  position: relative;
  top: 37%;
  left: 28%;
}

.share_like_icon {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14vw;
  z-index: 99999;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  top: 30%;
}

.share_like_icon img {
  padding-right: 1vw;
}

.show_more_btn {
  font-size: 20px;
  font-weight: 700;
  padding: 1vh 10vw;
  color: #b88e2f;
  border: none;
  outline: none;
  border: 2px solid #b88e2f;
  position: relative;
  top: 3.5vh;
  left: 24%;
  margin-bottom: 1.5vh;
}
/* Product Section Ends Here */

/* Room Section Starts Here */
.room_section {
  padding: 5vw;
}

.room_content h1 {
  font-size: 9vw;
  font-weight: 900;
}

.room_content p {
  padding: 1vh 0 2vh;
}

.room_content button {
  margin-bottom: 2vh;
}

.room_image img {
  width: 100%;
}

.room1 {
  margin-bottom: 1vh;
  position: relative;
}

.room1 div {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  background-color: #ffffffb8;
  opacity: 0.7;
  z-index: 9999;
  padding: 3vh 3vw;
}

.room1 button {
  background-color: #b88e2f;
  position: absolute;
  bottom: 5vh;
  left: 55vw;
  padding: 1vh 3vw;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
}
/* Room Section Ends Here */

/* Furniture Section Starts Here */
.furniture_content p,
h1 {
  text-align: center;
}

.forniture_img {
  padding: 5vw;
}

.forniture_img img {
  width: 100%;
  margin-bottom: 1.5vh;
}
/* Furniture Section Ends Here */

/* Footer Section Starts Here */
.footer_section {
  display: flex;
  flex-direction: column;
  margin: 0 5vw 5vh;
  padding: 5vw;
  border: 1px solid rgb(122, 122, 122);
}

.footer_top_section {
  display: flex;
  flex-direction: column;
}

.footer_four_section h2 {
  font-size: 8vw;
}

.footer_four_section:nth-child(1) p {
  font-size: 18px;
  font-weight: 700;
  color: #9f9f9f;
  line-height: 1.3;
  padding: 2vh 0 3vh;
}

.footer_four_section:nth-child(2) p:nth-child(1) {
  color: #9f9f9f;
}

.footer_four_section:nth-child(2) p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 2vh;
}

.footer_four_section:nth-child(2) p:nth-child(5) {
  padding-bottom: 4vh;
}

.footer_four_section:nth-child(3) p:nth-child(1) {
  color: #9f9f9f;
}

.footer_four_section:nth-child(3) p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 2vh;
}

.footer_four_section:nth-child(3) p:nth-child(4) {
  padding-bottom: 4vh;
}

.footer_four_section:nth-child(4) p:nth-child(1) {
  color: #9f9f9f;
}

.footer_four_section:nth-child(4) p {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 2vh;
}

.footer_four_section:nth-child(4) input {
  width: 100%;
  height: 4vh;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-bottom: 1vh;
}

.subscribe_btn {
  border-bottom: 2px solid black;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer_bottom_section {
  border-top: 1px solid rgb(122, 122, 122);
  margin-top: 2vh;
  padding-top: 2vh;
  font-size: 18px;
  font-weight: 700;
}
/* Footer Section Ends Here */
