.page_section {
    background-color: #F9F1E7;
}

.pagination_section {
    display: flex;
    align-items: center;
    padding: 4vh 9vw;
    gap: 2vw;
}

.pagination_section div {
    width: 0.1vw;
    height: 4.5vh;
    background-color: #9F9F9F;
}

.pagination_section p {
    font-size: 14px;
}

.pagination_section p:nth-child(1) {
    color: #9F9F9F;
}

.pagination_section p:nth-child(3) {
    color: #9F9F9F;
}

.pagination_section img {
    width: 0.5vw;
}

.single_product_img_section {
    display: flex;
    justify-content: center;
    padding: 5vh 9vw;
    gap: 2vw;
    border-bottom: 1px solid #dad7d7;
}

.img_section {
    position: relative;
}

.main_img_section img {
    width: 30vw;
    height: 60vh;
    background-color: #F9F1E7;
    margin-left: 1.5vw;
}

.sub_img_section {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    position: absolute;
    top: 8.5vh;
    left: 0;
}

.sub_img_section img {
    width: 4vw;
    background-color: #F9F1E7;
    padding: 1.1vh 0;
    border-radius: 5px;
}

.single_product_details_section {
    padding-top: 8vh;
}

.single_product_details_section h2 {
    font-size: 2.2vw;
}

.single_product_details_section p:nth-child(2) {
    font-size: 16px;
    color: #9F9F9F;
    padding: 1.5vh 0 2vh;
}

.star {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.star div {
    width: 0.1vw;
    height: 3vh;
    background-color: #9F9F9F;
}

.single_product_details_section p:nth-child(4) {
    line-height: 1.3;
    font-size: 16px;
    padding: 2vh 0;
}

.single_product_details_section p:nth-child(5) {
    font-size: 16px;
    font-weight: 600;
    color: #9F9F9F;
}

.size_section {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vh 0 2vh;
}

.size_section p:nth-child(1) {
    background-color: #B88E2F;
    padding: 2vh 1.2vw;
    border-radius: 5px;
}

.size_section p:nth-child(2) {
    background-color: #F9F1E7;
    padding: 2vh 0.8vw;
    border-radius: 5px;
}

.size_section p:nth-child(3) {
    background-color: #F9F1E7;
    padding: 2vh 0.8vw;
    border-radius: 5px;
}

.single_product_details_section p:nth-child(7) {
    font-size: 16px;
    font-weight: 600;
    color: #9F9F9F;
    padding: 1vh 0;
}


.color_section {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.color_section div:nth-child(1) {
    height: 4.1vh;
    width: 2vw;
    border-radius: 50%;
    background-color: #816DFA;
}

.color_section div:nth-child(2) {
    height: 4.1vh;
    width: 2vw;
    border-radius: 50%;
    background-color: black;
}

.color_section div:nth-child(3) {
    height: 4.1vh;
    width: 2vw;
    border-radius: 50%;
    background-color: #B88E2F;
}

.product_count_section {
    display: flex;
    align-items: center;
    gap: 1.1vw;
    padding: 2vh 0 5vh;
}

.product_count_section a {
    text-decoration: none;
    color: black;
    border: 1px solid #9F9F9F;
    padding: 1.6vh 2vw;
    border-radius: 5px;
}

.product_count_section {
    border-bottom: 1px solid #9F9F9F;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 0vh 1.5vw;
    border: 1px solid #c2c0c0;
    border-radius: 5px;
}

.social_section {
    display: flex;
    padding-top: 5vh;
}

.social_section div:nth-child(2) {
    padding-left: 1vw;
}

.social_section p {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 600;
}

.social_icon{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 2vh;
}

.social_icon img {
    width: 1.4vw;
}

.product_description_section {
    padding: 5vh 9vw;
}

.description_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 1vh 0 4vh;
}

.description_section h4:nth-child(2) {
    color: #9F9F9F;
}

.description_section h4:nth-child(3) {
    color: #9F9F9F;
}

.product_description_section p {
    color: #9F9F9F;
    line-height: 1.3;
    margin: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloud_sofa_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.3vw;
    padding-top: 5vh;
}

.cloud_sofa_section img {
    width: 43vw;
    background-color: #F9F1E7;
}

.cloud_sofa_section img:nth-child(1) {
    padding: 5vh 0;
    border-radius: 10px;
}

.cloud_sofa_section img:nth-child(2) {
    padding: 1.5vh 0;
    border-radius: 10px;
}



.single_product_section {
    padding-top: 10vh;
}

